.root{
  width:100vw;
  margin:0;
  padding:0;
  display:flex;
  justify-content: center;
 
}
.main{
  width:65vw;
  max-width: 1200px;
  position: relative;

  .myinfo{
    display: flex;
    width:65vw;
    max-width: 1200px;
    height:90vh;
    justify-content: center;
    border-bottom: 8px dashed black;
  }
  .project {
    display: flex;
    justify-content: space-between;
    width:65vw;
    max-width: 1200px;
    flex-direction: column;
    margin-top:10vh;
    margin-bottom: 10vh;
    
  }
  
  .stackContainer{
    border-top: 8px dashed black;
    width:65vw;
    max-width: 1200px;
    display: flex;
    justify-content: center;
  }
}
.navbarwrapper {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 2vw;
  width: 4vw; // 초기 너비
  height: 30vh;;
  z-index: 1000; // 다른 요소 위에 표시하기 위해 z-index 설정
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2BED1;
  width: 4vw; // 초기 너비
  font-size: 20px;
  border-radius: 10px;
  height: 30vh; // navbar의 높이
  transition: width 0.3s ease; // 너비에 대한 transition 추가
  position: relative; // 상대 위치 설정

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left:0.3vw;
    font-size: 2vw;
    width:4vw;
    height:30vh;

    li {
      margin-bottom: 10px; // 각 항목 간격 조정
      position: relative; // 상대 위치 설정
      width:10vw;
      border-radius: 10%;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        border-radius: 100%;
        width:1.6vw;
        margin-left: 2px;
        height:2.8vh;
        padding: 10px;
        position: relative; // 상대 위치 설정
        transition: width 0.3s ease; // 너비에 대한 transition 추가

        svg {
          margin-right: 5px;
          font-size: 2vw; // 아이콘 크기 조정
          position: absolute; // 절대 위치 설정
          left: 10px; // 아이콘 왼쪽 여백 설정
          top: 50%; // 아이콘을 수직 중앙으로 정렬
          transform: translateY(-50%);
        }

        span {
          opacity: 0;
          white-space: nowrap; // 텍스트가 줄 바꿈되지 않도록 설정
          position: absolute; // 절대 위치 설정
          left: 3vw; // 텍스트 왼쪽 여백 설정
          top: 50%; // 텍스트를 수직 중앙으로 정렬
          transform: translateY(-50%);
          margin-left:2vw;

          transition: opacity 0.3s ease, margin-left 0.3s ease;
        }

        &:hover {
      
          span {
          
            opacity: 1;
            margin-left: 20px; // 텍스트와 아이콘 사이 간격 조정
          }
        }
      }
    }
  }
}
