.root{
  width:100vw;
  margin:0;
  padding:0;
  height: 400vh;
  display:flex;
  justify-content: center;
}

.sidebar {
  position: fixed; /* 사이드바를 화면에 고정합니다. */
  left: 10vw;
  top: 50%; /* 화면의 중앙에서 시작하도록 설정합니다. */
  transform: translateY(-50%);
}

.project {
  display: flex;
  justify-content: space-between;
  width:80vw;
  flex-direction: column;
}

.stackContainer{
  width:80vw;
  height:80vh;
  margin-top: 30vh;
  display: flex;
  position: relative;
}
