.stackContainer{
  width:45vw;
  height:60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.iconContainer{
 display: flex;
 width:25vw;
 height:50vh;
 flex-wrap: wrap;
 background-color: antiquewhite;
}

.icons{
  display:flex;
  position: relative;
  width:5vw;
  height:10vh;
  
}
.takeTh{
  display:flex;
  flex-direction: column;
  width:15vw;
  margin-left:5vw;
  font-size: 150%;
  height:50vh;
  background-color: aqua;
}