.container{
  width:30vw;
  height:60vh;
  position: relative; // Ensure the Swiper container has a relative position
  display:flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.cardcontainer{
  display:flex;
  width:30vw;
  height:60vh;
  flex-direction: column;
  position: relative;

}

.card{
  display:flex;
  width:30vw;
  height:60vh;
  position: relative;
  border-radius: 5%;
}


